.exchange_show { 
        .card-user {
        overflow: hidden;
        max-width: 550px;
        margin: 2rem auto;
        background: white;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        padding: 1rem;
      }
      .card-user img {
        height: auto;
        width: 100px;
        object-fit: cover;
        margin-left: 1rem;
      }
      .card-user h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
      .card-user p {
        font-size: 1rem;
        line-height: 1.4;
        opacity: 0.7;
        margin-bottom: 0.5rem;
        margin-top: 8px;
      }
      .card-user .card-user-infos {
        padding: 16px;
      }
      .card-user .read-more {
        font-weight: bold;
        color: #b7b7b7;
      }
      .card-user .read-more:hover {
        color: #f2994a;
        text-decoration: none;
      }
      .user-card-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
      }
      .user-card-header div {
        margin: 0 1rem;
      }
      .user-card-header h4 {
        font-size: 1rem;
        margin-top: 1rem;
      }
      .user-card-header p {
        font-size: 1.2rem;
      }
      .card-product {

      }

      .card-product-infos {
        
      }
}



.reviews-container {
  .card-product {
    padding: 1rem;
    margin-bottom: 1rem;
    img {
      height: 88px;
      width: 88px;
      border-radius: 50%;
    }
  }
}