// Specific CSS for your home-page
.characteristics {
	display: grid;
	grid-template-rows: repeat(auto-fill);
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.modal-characteristics {
	display: grid;
	grid-template-rows: repeat(auto-fill);
	grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
	grid-gap: 10px;
}

.char-grid {
	display: grid;
	grid-template-rows: repeat(auto-fill);
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}

.home-card {
  transition-duration: 0.2s;
  transition-property: transform;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 230px;
  margin: 16px;
  margin-top: 0;
  border-radius: 0 0 30px 0;
  overflow: hidden;

  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
  }
}

.home-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.home-card-body {
  display: flex;
}

.home-card-footer {
  display: flex;
  flex-direction: row;
}

.home-card-image {
  max-width: 100%;
  max-height: 100%;
}

.home-card-price {
  color: black; 
  font-weight: bolder;
  text-align: end;
  @media screen and (min-width: 992px) {
    font-size: 1vw;
  }
  @media screen and (max-width: 992px) {
    font-size: 2vw;
  }
}

.home-card-image-container {
  width: 350px;
  height: 100%;
  background-color: #edecff;
}

.char-svg {
	width: 30px;
	height: 30px;

	svg {
		max-width: 100%;
		max-height: 100%;
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.home-carousel-image {
  height: 230px !important;
  width: 100% !important;
}

.only-rounded-left {
  border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
}

.carousel-inner img {

height:350px;
object-fit: cover;

}

.home-card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
  color: yellow;
  font-size: 20px;
  width: fit-content;

  i {
    text-shadow: 0px 0px 2px rgba(0,0,0,1);
  }

  p {
    color: black;
    font-weight: bolder;
    margin: 0px;  
  }
}

.card-text {
  display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}

#home-list {
  padding: 20px;
  overflow-y: scroll;
  height: calc(100vh - 167.19px);
}


// SHOW PAGE

/*BUTTON*/
.btn-custom {
  border-radius: 50px;
  margin: 1rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #f2994a;
  color: #fff;
  font-size: 24px;
}
.btn-custom:hover {
  color: #fff;
  background-color: #e68129;
}

.small-images-container {
  display: grid;
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;

}


.house-description-calendar {
  
}