<footer>
  <div class="footer-first">
    <div>
      <h3>Home4Home</h3>
      <p>Feel like home
      wherever you go.</p>
      <p>Trade houses with people all over the world and
      feel like a local wherever you are.</p>
      <p>Get on board this new travelling experience.</p>
    </div>
    <div>
      <h3>Destinations</h3>
      <ul>
        <li><a href="">Africa</a></li>
        <li><a href="">Europe</a></li>
        <li><a href="">Asia</a></li>
        <li><a href="">America</a></li>
      </ul>
    </div>
    <div>
      <h3>Interests</h3>
      <ul>
        <li><a href="#">Adventure Travel</a><li>
          <li><a href="#">Art And Culture</a></li>
          <li><a href="#">Wildlife And Nature</a></li>
          <li><a href="#">Family Holidays</a><li>
          </ul>
        </div>
      </div>
      <div class="social-icons d-flex flex-row justify-content-center">
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </footer>