<div class="d-flex flex-column">
	<div class="rounded">
		<%= render "info_window_slides", home: home %>
	</div>
	<div class="row pt-2" >
		<div class="col-12">
			<span class="h8 pl-3 mb-0"><%= home.name %></span>
		</div>
	</div>
	<span class="h7 p-3" style="white-space: normal"><%= home.address %></span>
</div>
