<div class="row">
	<div id="homes-container" class="col-12 col-lg-6">
		<% @homes.each do |home| %>
			<%= render "home", home: home %>
		<% end %>
	</div>
	<div id="map-container" class="col-12 col-lg-6">
		
	</div>
</div>