.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(0,0,0,0);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  z-index: 1000;
  padding-left: 100px;
  padding-right: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

body {
}
.navbar-default{
  transition:500ms ease;
  background: transparent;
}
.navbar-default.scrolled{
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));
  z-index: 1000;
}

.pt-7 {
  padding-top: 7rem;
}
